{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CONTAINER -->

<div class="container-fluid services">
  <div class="row pull-left" id="left-1">
      <h2>About Web Sketch Lab</h2>
      <h3>Our Principles & Values</h3>
  </div>
</div>



<!-- OUR VALUES -->

<div class="container-fluid text-center">
  <div class="text-center ">
    <div class="col-sm-12 gap">
      <h2>Our Values</h2>
        <h4>We provide web and mobile digital services and consulting for various categories of clients.
        Our customers get full-featured solutions and business opportunities instead of just projects.</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h4>HONESTY <span class="glyphicon glyphicon-ok"></span></h4>
      <p>We always maintain truthful relationships and never try to disguise bugs as features.</p>
    </div>
    <div class="col-sm-4">
      <h4>CONFIDENTIALITY <span class="glyphicon glyphicon-ok"></span></h4>
      <p>You idea and business details are your property, which are completely secure with us</p>
    </div>
    <div class="col-sm-4">
      <h4>TRUST <span class="glyphicon glyphicon-ok"></span></h4>
      <p>We build trust by providing an accessible service</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <h4>CUSTOMER SERVICE <span class="glyphicon glyphicon-ok"></span></h4>
      <p>We believe in comprehensive service for our clients</p>
    </div>
    <div class="col-sm-4">
      <h4>BUSINESS CENTRICITY <span class="glyphicon glyphicon-ok"></span></h4>
      <p>You get your business tasks/goals achieved besides just a working project.</p>
    </div>
    <div class="col-sm-4">
      <h4>TEAMWORK <span class="glyphicon glyphicon-ok"></span></h4>
      <p>We believe in pooling ideas and in the power of talents multiplied by passion and a common goal.</p>
    </div>
  </div>
</div>



<!-- MISSION -->
<div class="container-fluid text-center" id="light-green">
  <div class="text-center gap">
    <div class="col-sm-8 gap">
      <h1>Our Mission</h1>
      <p class="text-left">Our clients' success is the foundation of Web Sketch Lab and that success goes beyond just a pretty website. We develop digital strategies and websites that empower our clients to engage with their audiences and meet their organizational goals. Our mission is to accelerate small-to-medium business digitalization and help new types of businesses emerge faster. We also aim to help digitalize the services of organizations, clubs, and even individuals (through blogs).</p>
    </div>
    <div class="col-sm-4 gap">
      <img class="img-responsive img-rounded" src="{% static 'images/mission.jpg' %}">
    </div>
  </div>
</div>



<!-- FUTURE -->

<div class="container-fluid text-center">
  <div class="text-center gap">
    <div class="col-sm-4 gap">
      <img class="img-responsive img-rounded" src="{% static 'images/future.jpg' %}">
    </div>
    <div class="col-sm-8 gap">
      <h1>Future</h1>
      <p class="text-left">In the future, being able to globally connect people remotely will continue to become more and more important. The extreme growth of the software and apps industries together with an unstoppable globalization trend and the rapid evolution of distance-shortening technologies – that create virtual and augmented reality for example – make the Web Sketch Lab mission core to the world’s new era of development. We also aim to include large businesses and industries amongst our target clients.</p>
    </div>
    
  </div>
</div>





{% endblock %}