{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- CONTAINER -->

<div class="container-fluid services">
  <div class="row pull-left" id="left-1">
      <h2>Mobile App Development</h2>
      <h3>We create user-friendly apps that engages your customers/audience.</h3>
  </div>
</div>



<!-- SERVICES 2 -->

<div class="container-fluid text-center">
  <div class="text-center gap">
    <div class="col-sm-8 gap">
      <h2>Mobile Application Development</h2>
      <p class="text-left">We create native mobile apps for Android and iOS for you. You get mobile development of any complexity to empower your business and increase customer loyalty from us. Stay way ahead of the competitors by investing in app development. Everyone uses smartphones now. So, save both your & their time/efforts and they will return to you instead of your competitors. Extend the reach of the existing web portals and services with content-rich and transactions-centric mobile apps. With Web Sketch Lab, you provide your external and internal users with sleek, productive and easy-to-use mobile solutions, and they pay you back with increased loyalty and real-world engagement. </p>
    </div>
    <div class="col-sm-4 gap">
      <img class="img-responsive img-rounded" src="{% static 'images/mob1.jpg' %}">
    </div>
  </div>
</div>



{% endblock %}