{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- CONTAINER -->

<div class="container-fluid services">
  <div class="row pull-left" id="left-1">
      <h2>Why choose Web Sketch Lab</h2>
      <h3>cost-efficiency, great talent, real-time collaboration</h3>
  </div>
</div>



<!-- Why us -->

<div class="container-fluid text-center">
  <div class="text-center gap">
    <div class="col-sm-8 gap">
      <h1>We're an extension of your team</h1>
      <p class="text-left">We understand that software development requires continuous revision of priorities and milestones, so we're flexible to adapt to your constantly-evolving product. And of course: if you need guidance, we'll support you while deciding the best development approach. We go an extra mile to become our clients' long-term, trusted partner</p>
    </div>
    <div class="col-sm-4 gap">
      <img class="img-responsive img-rounded" src="{% static 'images/team.jpg' %}">
    </div>
  </div>
</div>


<div class="container-fluid text-center" id="light-green">
  <div class="text-center gap">
    <div class="col-sm-4 gap ">
      <img class="img-responsive img-rounded" src="{% static 'images/cost.jpg' %}">
    </div>
    <div class="col-sm-8 gap">
      <h1>We provide cost-effective solutions</h1>
      <p class="text-left">Web Sketch Lab aims to provide a relatively low cost service to businesses and organizations to start their journey towards digital availability. We want to ensure our clients can easily afford to run their very own software solutions and strengthen their connection with their customers and audience.</p>
    </div>
    
  </div>
</div>


<div class="container-fluid text-center" >
  <div class="text-center gap">
    <div class="col-sm-8 gap">
      <h1>We work with passion</h1>
      <p class="text-left">Web Sketch Lab is driven by the success of the software solutions we provide. What fuels our engines is having positive impact while interfacing with innovative tools, technologies, frameworks and individuals. By nurturing the relationships we get involved with, we ensure that our focus is always to create amazing products that make the world a better place.</p>
    </div>
    <div class="col-sm-4 gap ">
      <img class="img-responsive img-rounded" src="{% static 'images/passion.jpg' %}">
    </div>
  </div>
</div>


<div class="container-fluid text-center" id="light-green">
  <div class="text-center gap">
    <div class="col-sm-4 gap ">
      <img class="img-responsive img-rounded" src="{% static 'images/business.jpg' %}">
    </div>
    <div class="col-sm-8 gap">
      <h1>We help your business grow</h1>
      <p class="text-left">Our clients are different, but they all share the need to have a software solution built to generate revenue streams, establish communication channels or streamline business operations. Our user friendly designs and cost-effective solutions means your business will grow at the maximum rate through the online exposure our solution will provide.</p>
    </div>
    
  </div>
</div>

<div class="container-fluid text-center" >
  <div class="text-center gap">
    <div class="col-sm-8 gap">
      <h1>We continuously seek for improvement</h1>
      <p class="text-left">Web Sketch Lab is always up-to-date with the latest technologies and processes. We love what we do, and part of that is due to our passion on getting better at it. To guarantee that we're delivering the best solutions, quality assurance is part of our routine. Code reviewing, constant monitoring, as well as continuous integration are at our core expertise.</p>
    </div>
    <div class="col-sm-4 gap ">
      <img class="img-responsive img-rounded" src="{% static 'images/improve.jpg' %}">
    </div>
  </div>
</div>





{% endblock %}